block content
  h2 Typography
  section
    h3 Fonts
    ul.fonts
      li.font-primary Body Text: Helvetica
        pre
          code= "font family: Helvetica, Arial, sans-serif;"
      li.font-links-nav Top Navigation Links: Domine
        pre
          code= "font family: Domine;"
      li.font-blog-heading Blog Headings: Open Sans Semibold
        pre
          code= "font family: Open Sans;"
      li.time-stamp Blog time stamp: Sans-serif bold
        pre
          code= "font family: sans-serif;"
      li.footer Footer text: Sans-serif regular
        pre
          code= "font family: sans-serif;"

  section
    h3 Headings
    ul.headings
      li
        h1.h1 Heading 1
        pre
          code= "<h1>Heading 1</h1>"
      li
        h2.h2 Heading 2
        pre
          code= "<h2>Heading 2</h2>"
      li
        h3.h3 Heading 3
        pre
          code= "<h3>Heading 3</h3>"
      li
        h4.h4 Heading 4
        pre
          code= "<h4>Heading 4</h4>"
      li
        h5.h5 Heading 5
        pre
          code= "<h5>Heading 5</h5>"
      li
        h6.h6 Heading 6
        pre
          code= "<h6>Heading 6</h6>"

  section
    h3 Font Weights
    ul.weights
      li whatever
      li whatever
      li whatever

