block content
  section
    h2 Typography
    h3 Fonts
    ul.fonts
      li.font-primary Body Text: Helvetica
        pre= whatever
      li.font-links-nav Top Navigation Links: Domine
        pre= whatever
      li.font-blog-heading Blog Headings: Open Sans Semibold
        pre= whatever
      li.time-stamp Blog time stamp: Sans-serif bold
        pre= whatever
      li.footer Footer text: Sans-serif regular
        pre= whatever

  section
    h3 Headings
    ul.headings
      li
        h1.h1 Heading 1
        pre= "<h1>Heading 1</h1>"
      li
        h2.h2 Heading 2
        pre= "<h2>Heading 1</h2>"
      li
        h3.h3 Heading 3
        pre= "<h3>Heading 1</h3>"
      li
        h4.h4 Heading 4
        pre= "<h4>Heading 1</h4>"
      li
        h5.h5 Heading 5
        pre= "<h5>Heading 1</h5>"
      li
        h6.h6 Heading 6
        pre= "<h6>Heading 1</h6>"

  section
    h3 Font Weights
    ul.weights
      li whatever
      li whatever
      li whatever

